In [1]:
1 + 3

4

In [2]:
1 - 3

-2

In [3]:
1 * 3

3

In [4]:
1 / 3

0.3333333333333333

In [5]:
1 % 3

1

In [41]:
시험성적 = [100, 98, 70, 56, 86, 77, 58, 36, 59, 87, 41, 42, 23, 55, 86, 95, 92]

In [42]:
## SUM ##
sum(시험성적)

1161

In [43]:
## AVERAGE ##
sum(시험성적) / len(시험성적)

68.29411764705883

In [44]:
## MAX ##
max(시험성적)

100

In [45]:
## MIN ##
min(시험성적)

23

In [46]:
## COUNT ##
len(시험성적)

17

In [48]:
학생DB = [
    {"학번": 1111, "이름": "김똑딱", "점수": 100},
    {"학번": 1112, "이름": "이당돌", "점수": 98},
    {"학번": 1113, "이름": "박혁수", "점수": 70},
    {"학번": 1114, "이름": "최직박", "점수": 56},
    {"학번": 1115, "이름": "정호두", "점수": 86},
    {"학번": 1116, "이름": "윤사과", "점수": 77},
    {"학번": 1117, "이름": "심감자", "점수": 58},
    {"학번": 1118, "이름": "장석류", "점수": 36},
    {"학번": 1119, "이름": "최수박", "점수": 59},
    {"학번": 1120, "이름": "이배추", "점수": 87},
    {"학번": 1121, "이름": "박상추", "점수": 41},
    {"학번": 1122, "이름": "고양파", "점수": 42},
    {"학번": 1123, "이름": "선대파", "점수": 23},
    {"학번": 1124, "이름": "심당근", "점수": 55}
]

In [52]:
조회대상 = 1115

for i in 학생DB:
    if i["학번"] == 조회대상:
        조회결과 = (i["이름"], i["점수"])
        
조회결과

('정호두', 86)

In [59]:
학생rawData = [
    ["학번", "이름", '점수'],
    [1111, "김똑딱", 100],
    [1112, "이당돌", 98],
    [1113, "박혁수", 70],
    [1114, "최직박", 56],
    [1115, "정호두", 86],
    [1116, "윤사과", 77],
    [1117, "심감자", 58],
    [1118, "장석류", 36],
    [1119, "최수박", 59],
    [1120, "이배추", 87],
    [1121, "박상추", 41],
    [1122, "고양파", 42],
    [1123, "선대파", 23],
    [1124, "심당근", 55]
]

In [66]:
keys = 학생rawData[0]
rest = 학생rawData[1:]

학생DB_ = []
for i in rest:
    dic = {}
    dic[keys[0]] = i[0]
    dic[keys[1]] = i[1]
    dic[keys[2]] = i[2]
    학생DB_.append(dic)

학생DB_

[{'학번': 1111, '이름': '김똑딱', '점수': 100},
 {'학번': 1112, '이름': '이당돌', '점수': 98},
 {'학번': 1113, '이름': '박혁수', '점수': 70},
 {'학번': 1114, '이름': '최직박', '점수': 56},
 {'학번': 1115, '이름': '정호두', '점수': 86},
 {'학번': 1116, '이름': '윤사과', '점수': 77},
 {'학번': 1117, '이름': '심감자', '점수': 58},
 {'학번': 1118, '이름': '장석류', '점수': 36},
 {'학번': 1119, '이름': '최수박', '점수': 59},
 {'학번': 1120, '이름': '이배추', '점수': 87},
 {'학번': 1121, '이름': '박상추', '점수': 41},
 {'학번': 1122, '이름': '고양파', '점수': 42},
 {'학번': 1123, '이름': '선대파', '점수': 23},
 {'학번': 1124, '이름': '심당근', '점수': 55}]