In [3]:
# Pandas
import pandas as pd

In [6]:
fileName = 'bl.xlsx'
sheetName ='Building List(Rev.1)'
headerRow = 3
naValues = '-'

In [9]:
df = pd.read_excel(fileName, sheet_name = sheetName, header= headerRow, na_values= naValues)
df

/opt/conda/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

,3,NO.,Plot Plan NO.,Building Name,Structure,Q'ty,Story,Floor,Room NO.,Room Name,...,Dicipline Colour,Dicipline ID,Occupancy,Room KKS ID,Rotate,Adjacent Dicipline,Adjacent Room,Unnamed: 39,Unnamed: 40,Unnamed: 41
0,4.0,1,NaN,Main FF Building,RC,1.0,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Purple,PI
1,5.0,NaN,NaN,"* 방사능 관리구역 : Z3, Z4",NaN,NaN,NaN,Basement FL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lime,EN
2,17.0,NaN,NaN,NaN,RA-Z3,NaN,NaN,BF,U1001,Liquid Waste Water Treatment Room,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15.0,NaN,NaN,NaN,RA-Z1,NaN,NaN,BF,U1002,Cooling Water System Area,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cyan,AR
4,16.0,NaN,NaN,NaN,RA-Z3,NaN,NaN,BF,U1003,FF Waste Collection Tank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322,306.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Car Parking (Large Vehicle 4 Nos.),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
323,307.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
324,308.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
325,309.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
326,310.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df["Int. Floor-1"]

0                                      NaN
1                                      NaN
2      Epoxy Paint  Nuclear on FF Concrete
3      Epoxy Paint on Steel Trowel Finish
4      Epoxy Paint  Nuclear on FF Concrete
                      ...
322                                    NaN
323                                    NaN
324                                    NaN
325                                    NaN
326                                    NaN
Name: Int. Floor-1, Length: 327, dtype: object

## 엑셀 연계 작업대

In [342]:
### 항목 복사 후 붙여넣기

input = """
Engine Driven Fire Water Pump Room
Motor Driven Fire Water Pump Room

"""
aa

'\nFire Truck Bay\nTool Room\nAmbulance Bay\nElectrical Room\nFM200 Cylinder Room\n\n'

In [343]:
tmp1 = input.split("\n")
tmp2 = tmp1[1:len(tmp1)-2]
tmp3 = sorted(set(tmp2))
tmp3

['Engine Driven Fire Water Pump Room', 'Motor Driven Fire Water Pump Room']

In [344]:
result = " / ".join(tmp3)
result

'Engine Driven Fire Water Pump Room / Motor Driven Fire Water Pump Room'

## 순서교정

In [290]:
input = """
Liquid Waste Water Treatment Room / FF Waste Collection Tank / Corridor / Stair #4
"""

In [291]:
input

'\nLiquid Waste Water Treatment Room / FF Waste Collection Tank / Corridor / Stair #4\n'

In [292]:
tmp1 = input.split("\n")
tmp2 = tmp1[1:len(tmp1)-1][0]
tmp3 = tmp2.split(" / ")

In [293]:
tmp4 = sorted(tmp3)
result = " / ".join(tmp4)
result

'Corridor / FF Waste Collection Tank / Liquid Waste Water Treatment Room / Stair #4'