In [1]:
1 + 3

4

In [2]:
1 - 3

-2

In [3]:
1 * 3

3

In [4]:
1 / 3

0.3333333333333333

In [5]:
1 % 3

1

In [6]:
시험성적 = [100, 98, 70, 56, 86, 77, 58, 36, 59, 87, 41, 42, 23, 55, 86, 95, 92]

In [7]:
## SUM ##
sum(시험성적)

1161

In [8]:
## AVERAGE ##
sum(시험성적) / len(시험성적)

68.29411764705883

In [9]:
## MAX ##
max(시험성적)

100

In [10]:
## MIN ##
min(시험성적)

23

In [11]:
## COUNT ##
len(시험성적)

17

In [36]:
학생DB = [
    {"학번": 1111, "이름": "김똑딱", "점수": 100},
    {"학번": 1112, "이름": "이당돌", "점수": 98},
    {"학번": 1113, "이름": "박혁수", "점수": 70},
    {"학번": 1114, "이름": "최직박", "점수": 56},
    {"학번": 1115, "이름": "정호두", "점수": 86},
    {"학번": 1116, "이름": "윤사과", "점수": 77},
    {"학번": 1117, "이름": "심감자", "점수": 58},
    {"학번": 1118, "이름": "장석류", "점수": 36},
    {"학번": 1119, "이름": "최수박", "점수": 59},
    {"학번": 1120, "이름": "이배추", "점수": 87},
    {"학번": 1121, "이름": "박상추", "점수": 41},
    {"학번": 1122, "이름": "고양파", "점수": 42},
    {"학번": 1123, "이름": "선대파", "점수": 23},
    {"학번": 1124, "이름": "심당근", "점수": 55}
]

In [37]:
## VLOOKUP ##

조회대상 = 1115

for i in 학생DB:
    if i["학번"] == 조회대상:
        조회결과 = (i["이름"], i["점수"])
        
조회결과

('정호두', 86)

In [53]:
## vlookup 함수 선언 ##
def vlookup(재료1, 재료2, 재료3):
    for i in 재료2:
        if i["학번"] == 재료1:
            조회결과 = (i["이름"], i[재료3])
        
    return 조회결과

In [56]:
## 이제 부터는 길고 복잡한 for 문을 일일이 작성할 필요 없이,
## vlookup함수를 호출해서 사용하면 된다.

vlookup(1115, 학생DB, "점수")

('정호두', 86)

In [55]:
vlookup(1117, 학생DB, "점수")

('심감자', 58)

In [38]:
학생rawData = [
    ["학번", "이름", '점수'],
    [1111, "김똑딱", 100],
    [1112, "이당돌", 98],
    [1113, "박혁수", 70],
    [1114, "최직박", 56],
    [1115, "정호두", 86],
    [1116, "윤사과", 77],
    [1117, "심감자", 58],
    [1118, "장석류", 36],
    [1119, "최수박", 59],
    [1120, "이배추", 87],
    [1121, "박상추", 41],
    [1122, "고양파", 42],
    [1123, "선대파", 23],
    [1124, "심당근", 55]
]

In [39]:
keys = 학생rawData[0]
rest = 학생rawData[1:]

학생DB_ = []
for i in rest:
    dic = {}
    dic[keys[0]] = i[0]
    dic[keys[1]] = i[1]
    dic[keys[2]] = i[2]
    학생DB_.append(dic)

학생DB_

[{'학번': 1111, '이름': '김똑딱', '점수': 100},
 {'학번': 1112, '이름': '이당돌', '점수': 98},
 {'학번': 1113, '이름': '박혁수', '점수': 70},
 {'학번': 1114, '이름': '최직박', '점수': 56},
 {'학번': 1115, '이름': '정호두', '점수': 86},
 {'학번': 1116, '이름': '윤사과', '점수': 77},
 {'학번': 1117, '이름': '심감자', '점수': 58},
 {'학번': 1118, '이름': '장석류', '점수': 36},
 {'학번': 1119, '이름': '최수박', '점수': 59},
 {'학번': 1120, '이름': '이배추', '점수': 87},
 {'학번': 1121, '이름': '박상추', '점수': 41},
 {'학번': 1122, '이름': '고양파', '점수': 42},
 {'학번': 1123, '이름': '선대파', '점수': 23},
 {'학번': 1124, '이름': '심당근', '점수': 55}]

In [47]:
next(map(lambda x: (x["이름"], x["점수"]),
        filter(lambda x: x["학번"]==조회대상, 
               학생DB_)))

('정호두', 86)

In [17]:
학생rawData = [
    ["시험성적", "소속반"],
    [100, "병아리"],
    [98, "오리"],
    [70, "오리"],
    [56, "병아리"],
    [86, "병아리"],
    [77, "오리"],
    [58, "오리"],
    [36, "오리"],
    [59, "병아리"],
    [87, "병아리"],
    [41, "오리"],
    [42, "병아리"],
    [23, "병아리"],
    [55, "병아리"],
    [86, "오리"],
    [95, "병아리"],
    [92, "오리"]
]

In [18]:
keys = 학생rawData[0]
rest = 학생rawData[1:]

학생DB_ = []
for i in rest:
    dic = {}
    dic[keys[0]] = i[0]
    dic[keys[1]] = i[1]
#     dic[keys[2]] = i[2]
    학생DB_.append(dic)

학생DB_

[{'시험성적': 100, '소속반': '병아리'},
 {'시험성적': 98, '소속반': '오리'},
 {'시험성적': 70, '소속반': '오리'},
 {'시험성적': 56, '소속반': '병아리'},
 {'시험성적': 86, '소속반': '병아리'},
 {'시험성적': 77, '소속반': '오리'},
 {'시험성적': 58, '소속반': '오리'},
 {'시험성적': 36, '소속반': '오리'},
 {'시험성적': 59, '소속반': '병아리'},
 {'시험성적': 87, '소속반': '병아리'},
 {'시험성적': 41, '소속반': '오리'},
 {'시험성적': 42, '소속반': '병아리'},
 {'시험성적': 23, '소속반': '병아리'},
 {'시험성적': 55, '소속반': '병아리'},
 {'시험성적': 86, '소속반': '오리'},
 {'시험성적': 95, '소속반': '병아리'},
 {'시험성적': 92, '소속반': '오리'}]

In [19]:
학생DB = [
    {'시험성적': 100, '소속반': '병아리'},
    {'시험성적': 98, '소속반': '오리'},
    {'시험성적': 70, '소속반': '오리'},
    {'시험성적': 56, '소속반': '병아리'},
    {'시험성적': 86, '소속반': '병아리'},
    {'시험성적': 77, '소속반': '오리'},
    {'시험성적': 58, '소속반': '오리'},
    {'시험성적': 36, '소속반': '오리'},
    {'시험성적': 59, '소속반': '병아리'},
    {'시험성적': 87, '소속반': '병아리'},
    {'시험성적': 41, '소속반': '오리'},
    {'시험성적': 42, '소속반': '병아리'},
    {'시험성적': 23, '소속반': '병아리'},
    {'시험성적': 55, '소속반': '병아리'},
    {'시험성적': 86, '소속반': '오리'},
    {'시험성적': 95, '소속반': '병아리'},
    {'시험성적': 92, '소속반': '오리'}
]

In [20]:
## IF ##

for i in 학생DB_:
    if i["시험성적"] >= 70:
        i["낙제여부"] = "pass"
    else:
        i["낙제여부"] = "fail"

학생DB_

[{'시험성적': 100, '소속반': '병아리', '낙제여부': 'pass'},
 {'시험성적': 98, '소속반': '오리', '낙제여부': 'pass'},
 {'시험성적': 70, '소속반': '오리', '낙제여부': 'pass'},
 {'시험성적': 56, '소속반': '병아리', '낙제여부': 'fail'},
 {'시험성적': 86, '소속반': '병아리', '낙제여부': 'pass'},
 {'시험성적': 77, '소속반': '오리', '낙제여부': 'pass'},
 {'시험성적': 58, '소속반': '오리', '낙제여부': 'fail'},
 {'시험성적': 36, '소속반': '오리', '낙제여부': 'fail'},
 {'시험성적': 59, '소속반': '병아리', '낙제여부': 'fail'},
 {'시험성적': 87, '소속반': '병아리', '낙제여부': 'pass'},
 {'시험성적': 41, '소속반': '오리', '낙제여부': 'fail'},
 {'시험성적': 42, '소속반': '병아리', '낙제여부': 'fail'},
 {'시험성적': 23, '소속반': '병아리', '낙제여부': 'fail'},
 {'시험성적': 55, '소속반': '병아리', '낙제여부': 'fail'},
 {'시험성적': 86, '소속반': '오리', '낙제여부': 'pass'},
 {'시험성적': 95, '소속반': '병아리', '낙제여부': 'pass'},
 {'시험성적': 92, '소속반': '오리', '낙제여부': 'pass'}]

In [21]:
학생DB_

[{'시험성적': 100, '소속반': '병아리', '낙제여부': 'pass'},
 {'시험성적': 98, '소속반': '오리', '낙제여부': 'pass'},
 {'시험성적': 70, '소속반': '오리', '낙제여부': 'pass'},
 {'시험성적': 56, '소속반': '병아리', '낙제여부': 'fail'},
 {'시험성적': 86, '소속반': '병아리', '낙제여부': 'pass'},
 {'시험성적': 77, '소속반': '오리', '낙제여부': 'pass'},
 {'시험성적': 58, '소속반': '오리', '낙제여부': 'fail'},
 {'시험성적': 36, '소속반': '오리', '낙제여부': 'fail'},
 {'시험성적': 59, '소속반': '병아리', '낙제여부': 'fail'},
 {'시험성적': 87, '소속반': '병아리', '낙제여부': 'pass'},
 {'시험성적': 41, '소속반': '오리', '낙제여부': 'fail'},
 {'시험성적': 42, '소속반': '병아리', '낙제여부': 'fail'},
 {'시험성적': 23, '소속반': '병아리', '낙제여부': 'fail'},
 {'시험성적': 55, '소속반': '병아리', '낙제여부': 'fail'},
 {'시험성적': 86, '소속반': '오리', '낙제여부': 'pass'},
 {'시험성적': 95, '소속반': '병아리', '낙제여부': 'pass'},
 {'시험성적': 92, '소속반': '오리', '낙제여부': 'pass'}]

In [22]:
## COUNTIF ##

cnt = 0
for i in 학생DB_:
    if i["소속반"] == "병아리":
        cnt = cnt + 1
    else: pass

cnt

9

In [23]:
학생DB_

[{'시험성적': 100, '소속반': '병아리', '낙제여부': 'pass'},
 {'시험성적': 98, '소속반': '오리', '낙제여부': 'pass'},
 {'시험성적': 70, '소속반': '오리', '낙제여부': 'pass'},
 {'시험성적': 56, '소속반': '병아리', '낙제여부': 'fail'},
 {'시험성적': 86, '소속반': '병아리', '낙제여부': 'pass'},
 {'시험성적': 77, '소속반': '오리', '낙제여부': 'pass'},
 {'시험성적': 58, '소속반': '오리', '낙제여부': 'fail'},
 {'시험성적': 36, '소속반': '오리', '낙제여부': 'fail'},
 {'시험성적': 59, '소속반': '병아리', '낙제여부': 'fail'},
 {'시험성적': 87, '소속반': '병아리', '낙제여부': 'pass'},
 {'시험성적': 41, '소속반': '오리', '낙제여부': 'fail'},
 {'시험성적': 42, '소속반': '병아리', '낙제여부': 'fail'},
 {'시험성적': 23, '소속반': '병아리', '낙제여부': 'fail'},
 {'시험성적': 55, '소속반': '병아리', '낙제여부': 'fail'},
 {'시험성적': 86, '소속반': '오리', '낙제여부': 'pass'},
 {'시험성적': 95, '소속반': '병아리', '낙제여부': 'pass'},
 {'시험성적': 92, '소속반': '오리', '낙제여부': 'pass'}]

In [24]:
## SUMIF ##

결과 = []
for i in 학생DB_:
    if i["소속반"] == "병아리":
        결과.append(i["시험성적"])
    else: pass

sum(결과)

603

In [25]:
학생DB_

[{'시험성적': 100, '소속반': '병아리', '낙제여부': 'pass'},
 {'시험성적': 98, '소속반': '오리', '낙제여부': 'pass'},
 {'시험성적': 70, '소속반': '오리', '낙제여부': 'pass'},
 {'시험성적': 56, '소속반': '병아리', '낙제여부': 'fail'},
 {'시험성적': 86, '소속반': '병아리', '낙제여부': 'pass'},
 {'시험성적': 77, '소속반': '오리', '낙제여부': 'pass'},
 {'시험성적': 58, '소속반': '오리', '낙제여부': 'fail'},
 {'시험성적': 36, '소속반': '오리', '낙제여부': 'fail'},
 {'시험성적': 59, '소속반': '병아리', '낙제여부': 'fail'},
 {'시험성적': 87, '소속반': '병아리', '낙제여부': 'pass'},
 {'시험성적': 41, '소속반': '오리', '낙제여부': 'fail'},
 {'시험성적': 42, '소속반': '병아리', '낙제여부': 'fail'},
 {'시험성적': 23, '소속반': '병아리', '낙제여부': 'fail'},
 {'시험성적': 55, '소속반': '병아리', '낙제여부': 'fail'},
 {'시험성적': 86, '소속반': '오리', '낙제여부': 'pass'},
 {'시험성적': 95, '소속반': '병아리', '낙제여부': 'pass'},
 {'시험성적': 92, '소속반': '오리', '낙제여부': 'pass'}]

In [26]:
## AVERAGEIF ##

결과 = []
for i in 학생DB_:
    if i["소속반"] == "병아리":
        결과.append(i["시험성적"])
    else: pass

sum(결과) / len(결과)

67.0

In [27]:
학생DB_

[{'시험성적': 100, '소속반': '병아리', '낙제여부': 'pass'},
 {'시험성적': 98, '소속반': '오리', '낙제여부': 'pass'},
 {'시험성적': 70, '소속반': '오리', '낙제여부': 'pass'},
 {'시험성적': 56, '소속반': '병아리', '낙제여부': 'fail'},
 {'시험성적': 86, '소속반': '병아리', '낙제여부': 'pass'},
 {'시험성적': 77, '소속반': '오리', '낙제여부': 'pass'},
 {'시험성적': 58, '소속반': '오리', '낙제여부': 'fail'},
 {'시험성적': 36, '소속반': '오리', '낙제여부': 'fail'},
 {'시험성적': 59, '소속반': '병아리', '낙제여부': 'fail'},
 {'시험성적': 87, '소속반': '병아리', '낙제여부': 'pass'},
 {'시험성적': 41, '소속반': '오리', '낙제여부': 'fail'},
 {'시험성적': 42, '소속반': '병아리', '낙제여부': 'fail'},
 {'시험성적': 23, '소속반': '병아리', '낙제여부': 'fail'},
 {'시험성적': 55, '소속반': '병아리', '낙제여부': 'fail'},
 {'시험성적': 86, '소속반': '오리', '낙제여부': 'pass'},
 {'시험성적': 95, '소속반': '병아리', '낙제여부': 'pass'},
 {'시험성적': 92, '소속반': '오리', '낙제여부': 'pass'}]

In [28]:
## AVERAGEIFS ##

결과 = []
for i in 학생DB_:
    if i["소속반"] == "병아리":
        if i["낙제여부"] == "pass":
            결과.append(i["시험성적"])
    else: pass

sum(결과) / len(결과)

92.0

In [29]:
# !pip install openpyxl

In [30]:
import openpyxl

In [31]:
wb=openpyxl.load_workbook('파이썬 모양만 다른 엑셀.xlsx')
sheet = wb['4']
# rows = tuple(sheet.values)
cols = list(sheet.iter_cols(values_only=True))

In [32]:
cols

[(None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 (None,
  None,
  None,
  '시험 성적',
  100,
  98,
  70,
  56,
  86,
  77,
  58,
  36,
  59,
  87,
  41,
  42,
  23,
  55,
  86,
  95,
  92),
 (None,
  None,
  None,
  '소속 반',
  '병아리',
  '오리',
  '오리',
  '병아리',
  '병아리',
  '오리',
  '오리',
  '오리',
  '병아리',
  '병아리',
  '오리',
  '병아리',
  '병아리',
  '병아리',
  '오리',
  '병아리',
  '오리'),
 (None,
  None,
  None,
  '낙제여부',
  '=IF(B5>=70,"pass","fail")',
  '=IF(B6>=70,"pass","fail")',
  '=IF(B7>=70,"pass","fail")',
  '=IF(B8>=70,"pass","fail")',
  '=IF(B9>=70,"pass","fail")',
  '=IF(B10>=70,"pass","fail")',
  '=IF(B11>=70,"pass","fail")',
  '=IF(B12>=70,"pass","fail")',
  '=IF(B13>=70,"pass","fail")',
  '=IF(B14>=70,"pass","fail")',
  '=IF(B15>=70,"pass","fail")',
  '=IF(B16>=70,"pass","fail")',
  '=IF(B17>=70,"pass","fail")',
  '=IF(B18>=70,"pass","fail")',
  '=IF(B19>=70,"pass","fail")',
  '=IF(B20>=70,"pass","fail")',
  '=IF(B21>=70,"pass","fail")'),
 (None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 (None,
  None,
  None,
  None,
  'COUNTIF',
  'SUMIF',
  'AVERAGEIF',
  'AVERAGEIFS',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 (None,
  None,
  None,
  None,
  '=COUNTIF(C5:C21,"병아리")',
  '=SUMIF(C5:C21,"병아리",B5:B21)',
  '=AVERAGEIF(C5:C21,"병아리",B5:B21)',
  '=AVERAGEIFS(B5:B21,C5:C21,"병아리",D5:D21,"pass")',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 (None,
  None,
  None,
  None,
  '=COUNTIF(C5:C21,"병아리")',
  '=SUMIF(C5:C21,"병아리",B5:B21)',
  '=AVERAGEIF(C5:C21,"병아리",B5:B21)',
  '=AVERAGEIFS(B5:B21,C5:C21,"병아리",D5:D21,"pass")',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None)]

In [49]:
[cols[1],cols[2]]

[(None,
  None,
  None,
  '시험 성적',
  100,
  98,
  70,
  56,
  86,
  77,
  58,
  36,
  59,
  87,
  41,
  42,
  23,
  55,
  86,
  95,
  92),
 (None,
  None,
  None,
  '소속 반',
  '병아리',
  '오리',
  '오리',
  '병아리',
  '병아리',
  '오리',
  '오리',
  '오리',
  '병아리',
  '병아리',
  '오리',
  '병아리',
  '병아리',
  '병아리',
  '오리',
  '병아리',
  '오리')]